.content-site{
    background: linear-gradient(#04b4e0, #212529);
    height: auto;
    font-weight: bold;
    padding-top: 10rem;
    padding-bottom: 4rem;
}

.content-site i{
   color: #00746c;
   text-decoration: none;
}

.content-site a{
    color: #00746c;
    text-decoration: none;
 }


 #content-info{
     text-decoration: none;
     list-style: none;
 }
 #mainNav {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #212529;
  }
  #mainNav .navbar-toggler {
    padding: 0.75rem;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 0.75rem;
    color: #04b4e0;
    text-transform: uppercase;
    /* background-color: #04b4e0; */
    border: 0;
  }
  #mainNav .navbar-brand {
    color:#04b4e0;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 700;
    letter-spacing: 0.0625em;
    text-transform: uppercase;
  }
  #mainNav .navbar-brand img {
    height: 2.0rem;
  }
  #mainNav .navbar-nav .nav-item .nav-link {
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 14px;
    color: #fff;
    letter-spacing: 0.0625em;
  }
  #mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
    color:#04b4e0;
    animation: animation-navlinks 1s;
  }
  
  .titulo-positivo{
    color:#04b4e0;
    padding: 6rem 0;
    font-weight: bold!important;
  }

  .titulo-positivo i{
    color:#00746c;
   
  }
 
  .titulo-positivo-card{
    color:#04b4e0;
    font-weight: bold!important;
  }
  .titulo-positivo hr{
    margin-top: 0.5rem;
    margin-bottom: 2.5rem;
    border: 0;
    border-top: 1px dashed rgba(0, 0, 0, 0.2);
  }
  
  section#resumo {
   
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-position: center;
    text-align: justify;
  }
  
  
  .page-darksection {
    padding: 6rem 0;
    background-color: black;
  }
  
  section#objetivo {
    background-color: #212529;
    color: #ffffff;
    background-repeat: no-repeat;
    background-position: center;
    text-align: justify;
  }
  section#objetivo a, .card {
    text-decoration: none;
    color: #04b4e0;
    transition: 1s;

  }
  section#objetivo .card:hover {
    text-decoration: none;
    color: #fff;
    background-color: #004b5e;
  }
  section#xpProfissional {
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-position: center;
    text-align: justify;
  }
  section#xpProfissional ul, li {
    list-style: none;
    color: #212529;
    font-size: 15px;
  }
  section#xpProfissional strong {
    color:#212529
  }

  section#xpProfissional a {
   text-decoration: none;
  }
  section#xpAcademica{
    background-color: #212529;
    color: #ffffff;
    background-repeat: no-repeat;
    background-position: center;
    text-align: justify;
   padding-bottom: 5rem;
  }
  section#xpAcademica strong{
    color:#212529
  }

  #footer{
      padding: 10px;
      border-top-color:rgb(4, 180, 224);
      border-top-style: solid;
  }